.rating {
  cursor: pointer;
  white-space: nowrap;
  font-size: 28px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  &.rating-readonly {
    cursor: auto;
  }
  h4 {
    margin: 0;
    padding: 5px 0 0;
    font-weight: 200;
    color: #ffff00;
    font-size: .7em;
  }
  > span {
    color: rgba(152, 255, 41, 0.58);
    display: inline-block;
    position: relative;
    width: 1em;
    font-size: 1.2em;
  }
  .rating-on:before {
    color: #ffff00;
    content: "\2605";
    left: 0;
    padding: 1px;
    position: absolute;
  }
}
