@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$material-blue:#00bcd4;
* {
  font-family: 'Roboto', sans-serif !important;
}

#app {
  caption {
    caption-side: top;
    text-align: center;
    display: block;
    width: 100%;
  }
  form {
    .translate-left {
      transform: translate(-20px);
    }

    .translate-right {
      transform: translate(20px);
    }
  }
  .table {
    margin: 0 auto;
    width: max-content;
    tbody {
      background: white;
      tr td  {
        button {
          text-transform: uppercase;
        }
      }
      .rating {
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
        font-size: 28px;
        &.rating-readonly {
          cursor: auto;
        }
        > span {
          color: rgba(10, 11, 10, 0.58);
          display: inline-block;
          position: relative;
          width: 1.1em;
        }
        .rating-on:before {
          color: $material-blue;
          content: "\2605";
          left: 0;
          padding: 1px;
          position: absolute;
        }
      }
    }
    thead {
      svg.rotate180 {
        transform: rotate(180deg);
      }
      svg {
        cursor: pointer;
      }
    }
    thead th {
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }

  }
}

.form-center {
  justify-content: center;
  text-align: center;
}

/*RATING COMPONENT*/

.red {
  color: red;
  font-weight: 900;
}

.green {
  color: green;
}

.newField {
  display: block;
  height: 70px;
}

.experimental-block {
  content: 'experimental block';
  display: block;
  background: red;
  height: 70px;
}