/**
 * Created by Wojtek on 2017-10-19.
 */
@import "starWarsLoader";
@import "playerComponent";
@import "glitchEffect";
@import "starsComponent";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$material-blue: #00bcd4;
$spacer-top: 56px;

* {
  font-family: 'Roboto', sans-serif !important;
}

.active {
  color: orange !important;
  border-bottom: 1px solid orange !important;
}

body {
  background-image: url("/src/img/yoda_bg.jpg");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  .container {
    max-width: 868px;
    margin: 0 auto;
    width: 100%;
  }
}

.panel {
  z-index: 200;
  transition: all .4s ease-out;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 26px;
  padding-top: 40px;
  overflow: hidden;
  * {
    color: white !important;
  }
  &--wrapper {
    min-width: 300px;
  }
  h4 {
    font-weight: 400;
    font-size: 1em;
    text-align: center;
  }
  svg {
    cursor: pointer;
    transform: scale(0.7);
    &.rotate180 {
      transform: rotate(180deg) scale(0.7);
    }
  }
  &.vissible {
    min-height: 100vh;
    max-width: 300px;
    height: auto;
    opacity: 1;
  }
  &.hidden {
    min-height: 0;
    max-width: 0;
    opacity: 0;
  }
  .img-preview {
    max-width: 290px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .form-inline {
    display: flex;
    align-items: center;
  }
}

.navi {
  z-index: 200;
  background: black;
  width: 100%;
  position: fixed;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 10%;
    max-width: 100px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__list {
    width: 80%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      display: inline-block;
      margin: 0 20px;
      a {
        color: white;
        font-weight: 200;
        font-size: 1.3em;
        letter-spacing: 2px;
        text-decoration: none;
        transition: color .3s ease-out;
        &:hover {
          color: orange;
        }
      }
    }
  }
}

.movies-list {
  padding-top: $spacer-top;
  z-index: 100;
  position: relative;
  background-color: rgba(0, 0, 0, 0) !important;

  .translate-left {
    transform: translate(-20px);
  }
  .translate-right {
    transform: translate(20px);
  }
  .on-top {
    z-index: 200;
  }
  .transition {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  .items-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item {
      width: 30%;
      flex-basis: auto;
      margin: 5% 0;
      position: relative !important;
      overflow: hidden;
      &__header {
        background: black;
        h2 {
          font-size: 1.2em;
          font-weight: 400;
          text-align: center;
          margin: 0;
          color: orange;
        }
        &--idBadge {
          background: orange;
          border-radius: 0 0 50% 0;
          color: black;
          padding: 0 5px 5px 2px;
        }
        &--btn-delete {
          right: 0 !important;
          top: 0 !important;
        }
      }
      &__body {
        background: black;
        img {
          width: 100%;
        }
      }
      &__body--poster {
        padding: 20px;
      }
      &__body--avarage {
        display: flex;
        justify-content: center;
        align-items: center;
        .avarage--field {
          padding: 10px;
          border-radius: 50%;
          background: yellow;
          width: 20px;
          height: 20px;
          text-align: center;
        }
      }

    }
  }
}
.form-control {
  text-align: center;
  padding: 7px;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

@media (min-width: 1200px) {
  .container {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  #app {
    .form-group {
      display: flex;
    }
    .popup {
      .popup_inner {
        width: 79%;
        padding: 38px 10px;
      }
    }
  }
  .button:active {
    margin-top: 0;
  }
  .movies-list {
    width: 100%;
    flex-basis: auto;
    margin: 0px auto;
    .items-wrapper {
      .item {
        width: 90%;
        margin: 2rem auto;
      }
    }
    .popup {
      &__inner {
        padding: 15px;
      }
    }
  }

}